{% extends 'generic/object.html' %}
{% load helpers %}

{% block content %}
<div class="row mb-3">
  <div class="col col-md-6">
    <div class="card">
      <h5 class="card-header">PyATS Credential</h5>
      <div class="card-body">
        <table class="table table-hover attr-table">
          <tr>
            <th scope="row">Name</th>
            <td>{{ object.name }}</td>
          </tr>
          <tr>
            <th scope="row">Scope</th>
            <td>{{ object.get_scope_display }}</td>
          </tr>
          <tr>
            <th scope="row">Device</th>
            <td>{{ object.device|linkify }}</td>
          </tr>
          <tr>
            <th scope="row">Username</th>
            <td>{{ object.username }}</td>
          </tr>
          <tr>
            <th scope="row">Password</th>
            <td>{% if object.password %}<span class="badge bg-success">set</span>{% else %}<span class="badge bg-secondary">not set</span>{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">Enable secret</th>
            <td>{% if object.enable_secret %}<span class="badge bg-success">set</span>{% else %}<span class="badge bg-secondary">not set</span>{% endif %}</td>
          </tr>
          <tr>
            <th scope="row">Protocol</th>
            <td>{{ object.get_protocol_display }}</td>
          </tr>
          <tr>
            <th scope="row">SSH port</th>
            <td>{{ object.ssh_port }}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock content %}